@import "../App.scss";

.timeContainer {
	display: flex;
	flex-direction: column;
}

.greeting {
	margin: 16px 0px;
	text-align: center;
}

.onboardingContainer {
	max-width: 400px;
	font-size: 16px;
	margin-bottom: 32px;
}
