.header {
	height: 60px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	padding: 8px;
	align-items: center;
	box-sizing: border-box;
	div {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
}

.logo {
	height: 40px;
	margin-left: 16px;
	object-fit: cover;
}

.logo-title {
	margin-left: 4px;
	color: white;
	font-size: 24px;
	font-weight: 800;
}
