.App {
	text-align: center;
}

.App-logo {
	height: 20vmin;
	pointer-events: none;
	margin-bottom: 100px;
}

input {
	font-size: 14px;
	padding: 4px 8px;
	border-radius: 2px;
	outline: none;
	border: none;
	width: 200px;
	margin: 8px;
}

button {
	cursor: pointer;
	margin: 8px;
	padding: 4px 8px;
	background: white;
	border: none;
	border-radius: 2px;
	font-size: 14px;
	transition: transform 0.25s ease;
	outline: none;
}
button:hover {
	transform: scale(1.2);
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 100px;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
